dataModels/DataModelTemp.json
dataModels/test_nested_datamodel.json
dataModels/schema.json
dataModels/schema1.json
dataModels/schema2.json
dataModels/nonNgsi.json
docs/tests/NonNGSI/NonNGSI - Copia.bat

**/config.json
**/config.js