# Build results
backend/[Dd]ebug/
backend/[Dd]ebugPublic/
backend/[Rr]elease/
backend/[Rr]eleases/
backend/x64/
backend/x86/
backend/bld/
backend/[Bb]in/
backend/[Oo]bj/

# Visual Studio 2015 cache/options directory
backend/.vs/

# Specific
backend/node_modules/
frontend/node_modules/
backend/reports/
backend/logs/
backend/config.js
backend/result.json
backend/dataModels/DataModelTemp.json
backend/testing/
backend/input/
#backend/output/

# History
backend/.history/
backend/Funzionalità.docx
backend/Funzionalità.pdf
backend/dataModels/test_nested_datamodel.json
backend/debug.txt
backend/dataModels/schema.json
backend/dataModels/schema1.json
backend/dataModels/schema2.json
backend/.vscode/
backend/dataModels/nonNgsi.json
backend/docs/tests/NonNGSI/NonNGSI - Copia.bat
backend/mapper.bat
backend/sourceFileTemp.csv
backend/sourceFileTemp.json
backend/sourceFileTemp..json
backend/docs/tests/.history/
backup/
logs/
reports/
frontend/src/assets/bikeCiclabili.json
backend/examples/
backend/src/validation.log
backend/log*.json
backend/src/utils/threads.js
minio-storage/
minio.yml
config.beopen.js
config.prod.json
deploy_server-linux
mongo.yml
docker-compose-always-pull.yml
backend/src/utils/common_dev.js
frontend/src/app/pages/data-model-mapper/next/
frontend/src/app/pages/data-model-mapper/testModule.ts
backend/src/writers/orionWriter.old.js
backend/output/
frontend/src/app/pages/data-model-mapper/stepper_test.html
*.sandbox
build-frontend.sh
backend/config,asus.js
backend/monster.js
backend/token.js
backend/config.msi.js
backend/config.waze.js
*.sandbox.*
*errorResponse.json
*expectedResponse.json
frontend/src/assets/TrafficFlowObservedWaze.json
backend/tests/
technical documentation
backend/sandbox/
backend/config.docker.js
postgre-minio.session.sql
